

.section1_container {
    padding: 64px 0;
    max-width: 1440px;
    min-height: 224px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section1_title {
    font-family: var(--fontGaramond);
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: #3A3845;
    text-align: center;
}

.section1_text {
    font-weight: 400;
    line-height: 24px;
    color: #595667;
    text-align: center;
    max-width: 436px;
    margin-top: 24px;
}

.section2_item {
    width: 100%;
    min-height: 348px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2_box {
    width: 50%;
    height: 348px;
    background: #F7F6F5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.section2_img {
    width: 100%;
    height: 348px;
    object-fit: cover;
}

.section2_imgWrapper {
    width: 50%;
    height: 100%;
}

.section2_title {
    font-family: var(--fontGaramond);
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 4%;
    color: #3A3845;
}

.section2_text {
    width: 90%;
    font-weight: 400;
    line-height: 24px;
    color: #595667;
    margin-top: 24px;
}

.section3 {
    min-height: 443px;
}

.section3_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 443px;
}

.section3_box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 0 0 60px;
    height: 443px;
}

.section3_title {
    font-family: var(--fontGaramond);
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 4%;
    color: #3A3845;
}

.section3_img{
    width: 50%;
    height: 443px;
}

.section3_title1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #3A3845;
    margin-top: 32px;
}

.section3_text {
    color: #595667;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;
}

@media(max-width:820px) {
    .section2_item {
        flex-wrap: wrap;
        gap: 25px;
        margin-bottom: 25px;
    }

    .section2_box {
        width: 100%;
    }

    .section2_imgWrapper {
        width: 100%;
    }

    .section2_imgWrapper1{
        order: -1;
    }

    .section2_box1{
        order: 1;
    }

    .section3_container{
        flex-wrap: wrap;
    }

    .section3_box{
        width: 100%;
        padding: 15px;
    }

    .section3_img{
        width: 100%;
    }
}