.section1 {
    width: 100%;
    max-width: 1440px;
    min-width: 430px;
    background: url(../images/home/homeBg.png);
    background-size: cover;
    background-position: center;
    height: 640px;
    margin: 0 auto;
    /* margin-top: 82px; */
}

.section1_container {
    height: 100%;
}

.section1_item {
    width: 420px;
    height: 100%;
    background: var(--DarkBrown);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1_text {
    color: var(--white);
    font-weight: 400;
    line-height: 24px;
    margin-top: 42px;
    margin-bottom: 20px;
}

.section1_title {
    color: var(--white);
    font-family: var(--fontGaramond);
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 4%;
    text-align: center;
    width: 245px;
    margin-bottom: 42px;
}

.section1_btn {
    padding: 15px 71px;
    color: var(--DarkBrown);
    background: var(--white);
    line-height: 20px;
    font-size: 14px;
    font-weight: 600;
    transition: .3s;
}

.section1_btn:hover {
    background: var(--BeigePeach);
    color: var(--white);
}

.section1_btn:active {
    scale: .9;
}


.section2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 348px;
}

.section2_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section2_title{
    color: var(--WarmBlack);
    font-size: 28px;
    font-family: var(--fontGaramond);
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 4%;
    margin-bottom: 24px;
    text-transform: uppercase;
    text-align: center;
    width: 398px;
}


.section2_image{
    height: 348px;
    width: 100%;
    object-fit: cover;
}

.section2_text{
    line-height: 24px;
    width: 398px;
    font-weight: 400;
    color: var(--blue1);
    text-align: center;
    margin-bottom: 32px;
}

.section2_link{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    color: var(--WarmBlack);
    padding: 15px 18px;
}

.section3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-auto-rows: 385px;
    margin-top: 40px;
    row-gap: 48px;
}

.section3_title1{
    grid-column: -1/1;
    font-family: var(--fontGaramond);
    text-align: center;
    font-weight: bold;
    line-height: 36px;
    font-size: 30px;
    color: var(--WarmBlack);
}

.section3_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 78px;
}

.section3_title{
    color: var(--WarmBlack);
    font-size: 28px;
    font-family: var(--fontGaramond);
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 4%;
    margin-bottom: 24px;
    text-transform: uppercase;
    text-align: center;
    width: 398px;
}


.section3_image{
    height: 348px;
    width: 100%;
    object-fit: cover;
}

.section3_text{
    line-height: 24px;
    width: 398px;
    font-weight: 400;
    color: var(--blue1);
    text-align: center;
    margin-bottom: 32px;
}

.section3_link{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
    color: var(--WarmBlack);
    padding: 15px 18px;
}

@media(max-width:820px){
    .section2{
        grid-template-columns: 1fr;
    }

    .section2_item:last-child{
        grid-row: 5/6;
    }
    .section3{
        grid-template-columns: 1fr;
    }
    .section3_item{
        grid-row: 3/4;
    }
}

@media(max-width:600px) {

    .section1_item {
        height: auto;
        width: 100%;
        padding: 20px;
    }

    .section1_container {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .section1_image{
        width: 50px;
        height: 48px;
    }
    .section1_text{
        margin-top: 30px;
    }
    .section1_title{
        margin-bottom: 30px;
    }

    .section1{
        height: 752px;
        background-size: 180% 91%;
        background-position: 91% -206%;
        background-repeat: no-repeat;
    }

}

@media(max-width:555px){
    .section3_image{
        width: 100%;
    }
}