.section1{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    grid-auto-rows: 530px;
    gap: 40px 30px;
    margin-bottom: 60px;
    margin-top: 20px;
}

/* .product{
    border: 1px solid;
} */

.section1_title{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 6%;
    color: #3A3845;
    margin-top: 24px;
}

.section1_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #807F86;
    margin-top: 24px;
}

.section1_btn{
    color: #3A3845;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 8%;
    background: #FFFFFF;
    padding: 15px 18px;
    width: 100%;
    margin-top: 20px;
    transition: .5s;
}

.section1_btn1{
    color: #3A3845;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 8%;
    background: #FFFFFF;
    padding: 15px 18px;
    width: 100%;
    margin-top: 40px;
    transition: .5s;
}

.section1_btn:hover{
    scale: 1.01;
    background: #3A3845;
    color: #FFFFFF;
}

.section1_btn1:hover{
    scale: 1.01;
    background: #3A3845;
    color: #FFFFFF;
}

/* .section1_img{
    width: 100%;
} */


@media(max-width:600px){
    .section1{
        grid-template-columns: repeat(2,1fr);
        gap: 30px 10px;
    }
}

/* @media(max-width:560px){
    .section1_item{
        flex-wrap: wrap;
        grid-template-columns: repeat(1,1fr);
    }
} */